  
<div class="col-md-3 recipe-section">
    <img src={{img}} alt="">
    <h4 class="name-dish">{{name}}</h4>
    <ul class="stat-recipe">
        <li class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="hour"></span> <span
                class="mins">{{duration}}</span></li>
        <li class="complex"> <i class="fa fa-bolt" aria-hidden="true"></i> {{complex}} </li>
        <li class="serving"> <i class="fa fa-user" aria-hidden="true"></i> {{serving}} people(s)</li>
    </ul>
    <button type="button" class="btn btn-secondary btn-lg explore">Explore now</button>
</div>