<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">+ Add
    recipe</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="dashboard/add-recipe" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name dish:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-form-label">Date:</label>
                        <textarea class="form-control" id="date" name="date"></textarea>
                    </div>
                    <input id="input-b1" name="input-b1" type="file" class="file" data-browse-on-zone-click="true">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="save-button">Save recipe</button>
                </form>

                {{!-- <form action="dashboard/add-recipe" method="POST" enctype="multipart/form-data">
                    <input type="text" name="name" />
                    <input type="file" name="image"> <input type="submit" value="Upload">
                </form> --}}
            </div>


        </div>
    </div>
</div>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row" id="list-recipes">
            {{#each data}}
            <div class="col-md-4" id={{uri}}>
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                        alt="Card image cap" src="{{img}}" height="200px">
                    <div class="card-body">
                        <h3>{{name}}</h3>
                        <p class="card-text">{{description}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary view-button">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary edit-button">Edit</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary delete-button"
                                    key="{{uri}}">Delete</button>
                            </div>
                            <small class="text-muted">{{duration}} mins</small>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>



</div>

{{!-- <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="undo" data-autohide="false">
    <div class="toast-header">
        <img src="..." class="rounded mr-2" alt="...">
        <strong class="mr-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div> --}}

<button type="button" class="btn btn-primary" id="undo" style="visibility: hidden;">Undo</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $('.delete-button').click(function () {
        const uri = $(this).attr('key');

        // ajax post del-recipe
        $.ajax({
            url: '/dashboard/del-recipe',
            method: 'post',
            async: false,
            data: JSON.stringify({ uri: uri }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                alert('success')
                var element = document.getElementById(uri);
                element.parentNode.removeChild(element);
                document.getElementById("undo").style.visibility = "visible"
            },
            error: function (err) { alert(err) }
        })
    });

    // ajax -> deleteDate '' -> add vao giao dien
    $('#undo').click(function () {
        alert('click')

        $.ajax({
            url: '/dashboard/undo-del',
            method: 'post',
            async: false,
            success: function (data) {
                console.log(data)

                const element = `<div class="col-md-4" id={{uri}}>
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                        alt="Card image cap" src="${data.img}" height="200px">
                    <div class="card-body">
                        <h3>${data.name}}</h3>
                        <p class="card-text">${data.description}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary view-button">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary edit-button">Edit</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary delete-button"
                                    key="${data.uri}">Delete</button>
                            </div>
                            <small class="text-muted">${data.duration} mins</small>
                        </div>
                    </div>
                </div>
            </div>`

                var list = document.getElementById("list-recipes");

                list.append(element);



                // window.location.replace('/dashboard')
            },
            error: function (err) { alert(err) }
        })
    })
</script>